In [1]:
import pandas as pd 
import numpy as np

In [2]:
names=["x","y","class"]

In [12]:
df=pd.read_csv(r"/Users/Pankaj/ML/Applied/lol.csv", header=None,names=names)

In [13]:
df.head(5)

          x         y  class
0  0.700335 -0.247068    0.0
1 -3.950019  2.740080    1.0
2  0.150222 -2.157638    1.0
3 -1.672050 -0.941519    1.0
4  2.560483 -1.846577    1.0

In [15]:
x=df.drop(["class"],axis=1)

In [17]:
y=df["class"]

In [18]:
x

            x         y
0    0.700335 -0.247068
1   -3.950019  2.740080
2    0.150222 -2.157638
3   -1.672050 -0.941519
4    2.560483 -1.846577
..        ...       ...
495  2.177895  2.984489
496  1.778905  2.869205
497  0.894180  3.069959
498  0.849439  3.875435
499  5.217443  1.400818

[500 rows x 2 columns]

In [19]:
y

0      0.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
495    1.0
496    1.0
497    0.0
498    0.0
499    0.0
Name: class, Length: 500, dtype: float64

In [21]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [24]:
X_tr, X_cv, y_tr, y_cv = train_test_split(X_train, y_train, test_size=0.3, random_state=1)

In [33]:
from sklearn.neighbors import KNeighborsClassifier

for i in range(1,30,2):
    knn=KNeighborsClassifier(i)
    knn.fit(X_tr,y_tr)
    knn.predict(X_cv)
    a=knn.score(X_cv,y_cv)
    print("The CV accuracy for",i,"neighbors is",a*100)

The CV accuracy for 1 neighbors is 84.76190476190476
The CV accuracy for 3 neighbors is 82.85714285714286
The CV accuracy for 5 neighbors is 76.19047619047619
The CV accuracy for 7 neighbors is 73.33333333333333
The CV accuracy for 9 neighbors is 71.42857142857143
The CV accuracy for 11 neighbors is 74.28571428571429
The CV accuracy for 13 neighbors is 72.38095238095238
The CV accuracy for 15 neighbors is 70.47619047619048
The CV accuracy for 17 neighbors is 65.71428571428571
The CV accuracy for 19 neighbors is 64.76190476190476
The CV accuracy for 21 neighbors is 63.8095238095238
The CV accuracy for 23 neighbors is 62.857142857142854
The CV accuracy for 25 neighbors is 61.904761904761905
The CV accuracy for 27 neighbors is 60.952380952380956
The CV accuracy for 29 neighbors is 60.0

In [30]:
knn=KNeighborsClassifier(1)
knn.fit(X_train,y_train)
knn.predict(X_test)
a=knn.score(X_test,y_test)

In [31]:
a

0.8333333333333334

In [39]:
from sklearn.model_selection import cross_val_score

cv_scores = []

knn = KNeighborsClassifier(1)
scores = cross_val_score(knn,x, y, cv=5, scoring='accuracy')
cv_scores.append(scores.mean())

In [40]:
cv_scores

[0.866]

In [41]:
scores

array([0.86, 0.84, 0.92, 0.81, 0.9 ])