# Printing a program

In [1]:
print("hello world")

hello world

In [2]:
print(6)

6

In [3]:
print(False)

False

In [4]:
print("india","nepal","Bhutan")

india nepal Bhutan

In [5]:
print("india",5,True)

india 5 True

In [6]:
print("india","pak","nepal",sep='/')
##sep means separator

india/pak/nepal

In [7]:
print("Hello")
print("World")

Hello
World

In [8]:
##So, the end operator in print is "\n" by default

In [9]:
print("Hello",end=" ")
print("World")

# Replacing end operator by space from its default value

Hello World

## Data Types


1.Basic Types - (integer,float,complex,boolean and string)

2.Container Types - (List,Tuples, Sets and Dictionary)

3.User-defined Types - Class

In [10]:
#integer
print(4)

4

In [11]:
#float
print(4.5)

4.5

In [12]:
#boolean
print(True)
print(False)

True
False

In [13]:
#string
print('Lol')
print("Lol")
print("""Lol""")

Lol
Lol
Lol

In [14]:
#List
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [15]:
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [16]:
#sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [17]:
#dictionary
print({'Name':'Nitish','Age':30,'Gender':'Male'})

{'Name': 'Nitish', 'Age': 30, 'Gender': 'Male'}

## Variables

In [18]:
#Dynamic typing-- We don't have to declare the variable like int a , float a etc in python

a=5

In [19]:
#Dynamic binding-- One variable declared can take multiple data types in it (Not in C++ , there it is static binding)

name=5
print(name)

5

In [20]:
name="Pankaj"
print(name)

Pankaj

In [21]:
# Different syntax of variables

a=5;b=6;c=7
print(a)
print(b)
print(c)

5
6
7

In [22]:
a=b=c=6
print(a)
print(b)
print(c)

6
6
6

In [23]:
a,b,c=5,6,7
print(a)
print(b)
print(c)

5
6
7

## Taking User Input

In [24]:
a=input("Enter the first number")
b=input("Enter the second number")

Enter the first number1
Enter the second number2

In [25]:
a+b

'12'

In [26]:
# So, here when we added a and b it just concatenated them.
# This is because the input function stores the input values as str

In [27]:
type(a)

str

In [28]:
type(b)

str

In [29]:
# So, we need to do the type conversion to int

## Type Conversion

In [30]:
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))

Enter the first number1
Enter the second number2

In [31]:
a+b

3

## If-else

In [32]:
# correct email- campusx@gmail.com
# password - 1234

email = input("Apna email bata")
if '@' in email:
    password = input("Apna passowrd bhi bata")

    if email == "campusx@gmail.com" and password == "1234":
        print("Welcome")
    elif email == "campusx@gmail.com" and password != "1234":
        print("Password Incorrect")
        password = input("Password fir se bol")
        if password == "1234":
            print("Finally correct")
        else:
            print("Still incorrect")
    else:
        print("Incorrect credentials")
else:
    print("Email galat hai sahi likho")

Apna email batalol
Email galat hai sahi likho

## Loops

In [33]:
number=int(input("Enter your number"))

i=1

while i<11:
    print(number*i)
    i=i+1

Enter your number2
2
4
6
8
10
12
14
16
18
20

## While loop - if-else guessing game

In [34]:
import random

In [36]:
jackpot=random.randint(1,100)

guess=int(input("Please guess"))
c=1
while guess !=jackpot:
    if guess<jackpot:
        print("Guess higher")
    else:
        print("Guess lower")
    
    guess=int(input("Please guess"))
    c=c+1

    
print("Sahi jawab")
print("you took",c,"attempts")

Please guess2
Guess higher
Please guess50
Guess lower
Please guess40
Guess lower
Please guess30
Guess higher
Please guess35
Guess lower
Please guess32
Guess lower
Please guess31
Sahi jawab
you took 7 attempts

# For loop

# To learn about for loop , we need to learn about range and sequence

In [37]:
#range
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [39]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [41]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
#sequence
#string

"Kolkata"

'Kolkata'

In [43]:
["Kolkata","Delhi","Mumbai"]

['Kolkata', 'Delhi', 'Mumbai']

### So, for-loop basically iterrates over a range or sequence as shown above.

In [44]:
for i in "kolkata":
    print(i)

k
o
l
k
a
t
a

In [45]:
for i in range(10,0,-1):
    print(i*i)

100
81
64
49
36
25
16
9
4
1

In [46]:
for i in [1,2,3,5]:
    print(i)

1
2
3
5

In [47]:
for i in (1,2,3,5):
    print(i)

1
2
3
5

In [48]:
# How to know which loop to use?
# If you know that how many times the loop will run "use for-loop"
# Else use while loop (Just like for guessing game)

## Nested loops

In [49]:
rows=int(input("Enter the number of rows"))

Enter the number of rows2

In [54]:
rows=int(input("Enter the number of rows"))

for i in range(1,rows+1):
    for j in range(0,i):
        print("*",end=" ")
    print("")

Enter the number of rows10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

## Break and continue

In [56]:
##break statement comes out of the loop once the statement of break is matched

for i in range(2,11):
    if i==5:
        break
    print(i)

2
3
4

In [59]:
## when condition will be matched for 'continue' then for that iteration the code will not get executed
## And the loop will again run then

## Example when we want to display all the items that are in stock, we can have statement like if=="outofstock"
## above the continue statement and for items that are not in stock the print item part will be skipped and loop will continue

for i in range(2,11):
    if i==5:
        continue
    print(i)

2
3
4
6
7
8
9
10

## Built-in functions

In [60]:
## https://github.com/campusx-official/100-days-of-python-programming/blob/main/day9-built-in-functions-and-modules/built-in-functions.ipynb

## Built-in modules

In [61]:
## https://github.com/campusx-official/100-days-of-python-programming/blob/main/day9-built-in-functions-and-modules/built-in-modules.ipynb

## String Operations

In [63]:
"Hello"+ "()"+ "World"

'Hello()World'

In [65]:
print("Hello world "*5)

Hello world Hello world Hello world Hello world Hello world

In [67]:
"Kolkata">"Goa"  
# The logic here is , whichever words comes later in dictionary has higher value

True

In [69]:
"hello"=="World"

False

In [70]:
"hello"!="World"

True

In [71]:
"hello"=="Hello"

False

In [72]:
# In python the empty string is treated as false and string is treated as true

In [73]:
"" and "Pankaj"

''

In [74]:
"" or "Pankaj"

'Pankaj'

In [77]:
"Pankaj" and "Bhatt"
## Here both are true but second string decided if it will be true or not

'Bhatt'

In [79]:
"Pankaj" or "Bhatt"

'Pankaj'

In [80]:
c="Hello world"

for i in c:
    print(i)

H
e
l
l
o

w
o
r
l
d

In [83]:
"h" in c #membership operators

False

In [82]:
"H" in c

True

 ## Lists

In [84]:
# What is a list?

# List is a data type where we can store multiple things. It is different from arrays because it is heterogeneous
# means that a list can have multiple data types inside the same list , but can't be in array

In [85]:
L=[]

In [86]:
L=[1,2,3,4,5]

In [87]:
L=[1,2,4,5,"Array"]

In [91]:
L1=[1,2,3,[4,5]]
L1
##Multi dimensional list

[1, 2, 3, [4, 5]]

In [92]:
L5=list("Haldia")
L5

['H', 'a', 'l', 'd', 'i', 'a']

In [93]:
L5[0]="k"

In [94]:
L5

['k', 'a', 'l', 'd', 'i', 'a']

In [95]:
L[1:4]=[100,200,300]
L

[1, 100, 200, 300, 'Array']

## Add functions

In [96]:
L.append(100)

In [97]:
L

[1, 100, 200, 300, 'Array', 100]

In [100]:
L.append([100,200])
L

[1, 100, 200, 300, 'Array', 100, [100, 200], [100, 200]]

In [118]:
L.extend([100,20]) ## when multiple entries need to be added

In [103]:
L

[1, 100, 200, 300, 'Array', 100, [100, 200], [100, 200], 100, 20]

In [119]:
L.insert(2,"World") ## When entries need to be added on a particular index
L

[100, 20, 'World']

## Delete functions

In [105]:
del(L5)

In [107]:
L5

NameError: name 'L5' is not defined

In [108]:
del(L[0])

In [109]:
L

[100, 'World', 200, 300, 'Array', 100, [100, 200], [100, 200], 100, 20]

In [110]:
del(L[-1])
L

[100, 'World', 200, 300, 'Array', 100, [100, 200], [100, 200], 100]

In [120]:
L.remove("Array") # removing specific item from the list

ValueError: list.remove(x): x not in list

In [112]:
L

[100, 'World', 200, 300, 100, [100, 200], [100, 200], 100]

In [114]:
L.pop() ## Pop removes the last item from the list

100

In [115]:
L

[100, 'World', 200, 300, 100, [100, 200], [100, 200]]

In [116]:
L.clear() ## clear clears the entire list and makes it empty

In [117]:
L

[]

## Markdown

In [121]:
L=[1,2,3,4,5]
M=[4,5,6,7,8]

In [123]:
L+M ##Concatenates

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [125]:
L*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [126]:
for i in L:
    print(i)

1
2
3
4
5

In [127]:
7 in L

False

## Functions

In [128]:
len(L)

5

In [129]:
max(L)

5

In [130]:
min(L)

1

In [133]:
sorted(L) ## it will create a new list ( not in the orignal)

[1, 2, 3, 4, 5]

In [134]:
sorted(L,reverse=True) ## it will create a new list ( not in the orignal)

[5, 4, 3, 2, 1]

In [136]:
L.sort()
L

[1, 2, 3, 4, 5]

In [138]:
L.sort(reverse=True)
L

[5, 4, 3, 2, 1]

In [139]:
L.sort()
L

[1, 2, 3, 4, 5]

## Example

In [142]:
sample="today has been great day"
print(sample.split())

['today', 'has', 'been', 'great', 'day']

In [145]:
L=[]
for x in sample.split():
    x.capitalize()
    L.append(x.capitalize())
    
print(L)
print(" ".join(L))

['Today', 'Has', 'Been', 'Great', 'Day']
Today Has Been Great Day

In [149]:
L1=[]
s="how are you today"
for x in s.split():
    print(x.capitalize())
    L1.append(x.capitalize())
    
print(L1)
print("#".join(L1))

How
Are
You
Today
['How', 'Are', 'You', 'Today']
How#Are#You#Today

In [150]:
email="abc@gmail.com"
print(email.split())

['abc@gmail.com']

In [153]:
a=""
for x in email:
    if x=="@":
        break
    else:
        print(x,end="")

abc

In [154]:
print(email[:email.find("@")])

abc

In [155]:
b=[1,1,2,2,3,3,4,4]
## remove duplicates

In [156]:
c=[]

for x in b:
    if x not in c:
        c.append(x)

In [157]:
c

[1, 2, 3, 4]

# Tuples

In [158]:
## Its a read only data type
## All the functionality of read of lists are applied here , except for right operations.

In [160]:
## Tuples are immutable and hence changes can't be made inside tuple, adding , deletion , editing can't be done.
## Only deletion of whole tuple is possible not deleting particular items

In [166]:
T=(1,2,3,4,5)

In [167]:
del T[0] ## part of tuple can't be deleted

TypeError: 'tuple' object doesn't support item deletion

In [168]:
del T ## whole tuple deleted

In [169]:
T

NameError: name 'T' is not defined

# Functions

In [170]:
def odd_even(i):
    if i%2==0:
        return "Even"
    else:
       return "Odd"

In [171]:
odd_even(11)

'Odd'

In [175]:
def odd_even(i):
    if i%2==0:
        print("Even")
    else:
        print("Odd")
        
## This function is not returning anything , but printing Even

In [173]:
x=odd_even(4)
print(x)

Even
None

In [174]:
odd_even(4)

Even

In [182]:
print(odd_even(4))

Even
None

In [179]:
# The asterisk defines that any flexible number of arguments can come in and it converts it into tuple 
# Then we can just run a loop over it.

def flexi(*number):
    product=1
    print(number)
    for x in number:
        product=x*product
    print(product)

In [180]:
flexi(1,2)

(1, 2)
2

In [181]:
flexi(1,2,3,4,5)

(1, 2, 3, 4, 5)
120