In [1]:
import pandas as pd
import requests

In [2]:
response=requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=6d6afa0acea7aa4f9c979bee34768bd1&language=en-US&page=1")

In [3]:
response

In [22]:
df=pd.DataFrame(response.json()['results'])[['id','popularity','release_date','title','vote_average']]

In [23]:
df.head()

       id  popularity release_date                        title  vote_average
0  730154      14.517   2020-10-23               Your Eyes Tell           8.7
1   19404      28.965   1995-10-20  Dilwale Dulhania Le Jayenge           8.7
2     278      89.160   1994-09-23     The Shawshank Redemption           8.7
3     238      84.513   1972-03-14                The Godfather           8.7
4     424      57.502   1993-11-30             Schindler's List           8.6

In [24]:
df=pd.DataFrame()

In [30]:
for i in range(1,429):
    response=requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=6d6afa0acea7aa4f9c979bee34768bd1&language=en-US&page={}".format(i))
    tempdf=pd.DataFrame(response.json()['results'])[['id','popularity','release_date','title','vote_average']]
    df=df.append(temp_df,ignore_index=True)

In [32]:
df

Empty DataFrame
Columns: []
Index: []