In [1]:
import pandas as pd 
import numpy as np

In [2]:
import pandas as pd
  
# Create the dataframe
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/11'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],
                    'Cost':[10000, 5000, 15000, 2000]})
  
# Print the dataframe
print(df)

        Date    Event   Cost
0  10/2/2011    Music  10000
1  11/2/2011   Poetry   5000
2  12/2/2011  Theatre  15000
3    13/2/11   Comedy   2000

In [3]:
df

        Date    Event   Cost
0  10/2/2011    Music  10000
1  11/2/2011   Poetry   5000
2  12/2/2011  Theatre  15000
3    13/2/11   Comedy   2000

In [5]:
list_=[]

In [9]:
for index,rows in df.iterrows():
    my=[rows.Date,rows.Event,rows.Cost]
    list_.append(my)

In [10]:
list_

[['10/2/2011', 'Music', 10000],
 ['11/2/2011', 'Poetry', 5000],
 ['12/2/2011', 'Theatre', 15000],
 ['13/2/11', 'Comedy', 2000]]